<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add  name="WebDev" connectionString="Data Source=webdev.spsejecna.cz,11433;Initial Catalog=pv_dinh;User ID=dinh;Password=pvDinh2019" providerName="System.Data.SqlClient "/>
  </connectionStrings>
</configuration>